@import "~bulma/sass/utilities/_all";

$purple-1: #3e426d;
$purple-2: #21233e;
$yellow: #f2cd1c;
$primary: #9b59b6;
$info: $purple-1;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);
$accent: #1cbc9c;
$accent-light: findLightColor($accent);
$accent-dark: findDarkColor($accent);

$tile-border-radius: 2rem;

// bulma overrides
$modal-background-background-color: inherit;

@mixin impact-text {
  color: $white;
  font-family: "Anton", sans-serif;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
}

@mixin box-shadow($x: 1rem, $y: 2rem, $color: $purple-2) {
  box-shadow: $x $y 1rem rgba($color, 0.7);
}

@mixin background-blur {
  backdrop-filter: blur(8px);
}

@mixin absolute-doggo($width: 35%) {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: $width;
}
